<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<appSettings>
		<add key="url" value="https://pity.eu.org/SP2/doc/%E6%BC%AB%E7%94%BB/1/"/>
	</appSettings>

	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
		</root>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<!--<file value="log/log.txt" />-->
			<file type="log4net.Util.PatternString" value="Logs\log_%date{yyyy-MM-dd_HH#mm#ss}.txt" />
			<!--当它的值为 true 时，表示记录器会在已有的日志文件的末尾追加新的日志信息。-->
			<appendToFile value="false" />
			<rollingStyle value="Size" />
			<!--"-1"代表无限-->
			<maxSizeRollBackups value="-1" />
			<maximumFileSize value="100KB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
	</log4net>
		
</configuration>